.error {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: bold;
    color: #ff0000;
    .randomize {
      display: inline-block;
      width: 2rem;
      height: 2.5rem;
      text-align: center;
      margin: 0 0.5rem;
      animation: bounce 1s infinite;

      &.final {
        animation: none;
        color: #000000;
      }
    }
  }

  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
  }