.hero {
    background-image: url(/bgimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    position: relative;
    z-index: 3;

    animation: bgimg 20s alternate linear infinite;

    @media (max-width: 768px) {
        height: 500px;
    }
    @media (max-width: 425px) {
        animation: none;
    }

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background: linear-gradient(0deg, #2d2d2d60 1.88%, rgba(11, 11, 11, 0) 100%);
    }

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background: linear-gradient(180deg, #2d2d2d60 1.88%, rgba(10, 10, 10, 0) 100%);
    }
    // .hero__wrapper

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-top: 500px;
        @media (max-width: 768px) {
            padding-top: 300px;
        }
        @media (max-width: 640px) {
            padding-top: 200px;
        }
    }

    // .hero__block

    &__block {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
        padding-bottom: 120px;
        @media (max-width: 768px) {
            align-items: center;
        }
    }

    // .hero__title

    &__title {
        color: #fff;
        font-size: clamp(1.375rem, 1.104rem + 1.35vw, 2.188rem);
        font-weight: 600;
    }

    // .hero__text

    &__text {
        color: #fff;
        font-size: 22px;
    }


    &__btn-flex {
        display: flex;
        align-items: center;
        gap: 30px;
        @media (max-width: 640px) {
            flex-direction: column;
        }
    }

    // .hero__btn1

    &__btn1 {
        width: max-content;
        padding: 20px 30px;
        color: #000;
        background-color: #fff;
        border: 2px solid #fff;
        border-radius: 25px;
        font-size: 20px;
        transition: all .6s;
        &:hover {
            background-color: transparent;
            color: #fff;
        }
        @media (max-width: 425px) {
            padding: 15px 20px;
        }
    }

    // .hero__btn2

    &__btn2 {
        width: max-content;
        padding: 20px 30px;
        color: #fff;
        background-color: transparent;
        border: 2px solid #fff;
        border-radius: 25px;
        font-size: 20px;
        transition: all .6s;
        &:hover {
            background-color: #fff;
            color: #000;
        }
        @media (max-width: 425px) {
            padding: 15px 20px;
        }
    }
}

@keyframes bgimg {
    0% {
        background-image: url(/bgimg8.jpg);
        background-size: 120%;
    }
    25% {
        background-image: url(/bgimg4.avif);
        background-size: 110%;
    }
    50% {
        background-image: url(/bgimg6.jpg);
        background-size: 120%;
    }
    75% {
        background-image: url(/bgimg7.jpg);
        background-size: 110%;
    }
    100% {
        background-image: url(bgimg5.jpg);
        background-size: 120%;
    }
}